<!-- Title Page -->
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(/Content/images/Meuble_1920_239.jpg);">
    <h2 class="l-text2 t-center">
        @Resources.Translation.Meuble
    </h2>
    <p class="m-text13 t-center">
        New Arrivals Women Collection 2018
    </p>
</section>


<!-- i18n pour les bouttons -->
<input type="hidden" id="texteButtonChariot" name="texteButtonChariot" value="@Resources.Translation.AjouterChariot" />
<input type="hidden" id="texteCategoriesTous" name="texteCategoriesTous" value="@Resources.Translation.Tous" />

<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        @Resources.Translation.Categories
                    </h4>

                    <ul class="p-b-54" id="menuListeCategories">
                    <!--Ici, categories par AJAX -->
                    </ul>

                    <!--  -->
                    <h4 class="m-text14 p-b-32">
                        @Resources.Translation.Filtres
                    </h4>

                    <div class="filter-price p-t-22 p-b-50 bo3">
                        <div class="m-text15 p-b-17">
                            @Resources.Translation.Prix
                        </div>

                        <div class="wra-filter-bar">
                            <div id="filter-bar"></div>
                        </div>

                        <div class="flex-sb-m flex-w p-t-16">
                            <div class="w-size11">
                                <!-- Button -->
                                <button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4" id="">
                                    @Resources.Translation.Filtre
                                </button>
                            </div>

                            <div class="s-text3 p-t-10 p-b-10">
                                @Resources.Translation.Intervalle: $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
                            </div>
                        </div>
                    </div>

                    <div class="search-product pos-relative bo4 of-hidden">
                        <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="@Resources.Translation.RechercheProduits">

                        <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" id="">
                            <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35">
                    <div class="flex-w">
                        <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                            <select class="selection-2" name="sorting">
                                <option>Default Sorting</option>
                                <option>Popularity</option>
                                <option>@Resources.Translation.Prix: low to high</option>
                                <option>@Resources.Translation.Prix: high to low</option>
                            </select>
                        </div>

                        <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                            <select class="selection-2" name="sorting">
                                <option>@Resources.Translation.Prix</option>
                                <option>$0.00 - $50.00</option>
                                <option>$50.00 - $100.00</option>
                                <option>$100.00 - $150.00</option>
                                <option>$150.00 - $200.00</option>
                                <option>$200.00+</option>

                            </select>
                        </div>
                    </div>

                    <span class="s-text8 p-t-5 p-b-5">
                        Showing 1–12 of 16 results
                    </span>
                </div>

                <!-- Product, Inclusion des Produits par AJAX -->
                <div class="row" id="listeDesProduits" name="listeDesProduits">

                </div>

                <!-- Pagination -->
                <div class="pagination flex-m flex-w p-t-26">
                    <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
                    <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="indexProduct" name="indexProduct" />
